body {text-align: center;background-color: cadetblue;}
h1 {color:#f0ffee; font-size: 40px;}
h2 {color:#f0ffee; font-size: 30px;}
p {color:rgb(251, 255, 0)}
figcaption {color: rgb(251, 255, 0); font-size: 20px;}
button {background-color: rgb(110, 11, 156);}
b {color:pink; text-shadow: deeppink 1px 1px;}